@import url("./section.css");

:root {
  font-family: Helvetica, Arial, sans-serif;
  --main-bg: black;
  --main-color: whitesmoke;
  --borders: grey;
  background: var(--main-bg);
  color: var(--main-color);
}