section {
  border: 1px solid var(--borders);
  border-radius: 5% / 10%;
  padding: 2em;
  margin: 10px;
  max-width: 1080px;
}

section summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
}
